20-n8n/workflows/01_sync_catalogo.json
{
  "name": "Arfagi — Flujo 1: Sync Catálogo",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Cron Semanal (Lunes 3am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 460],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Leer CSV del Catálogo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ARFAGI_CATALOGO_CSV_URL }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "notes": "Apunta al CSV del catálogo. Puede ser una URL de Google Sheets exportada como CSV: https://docs.google.com/spreadsheets/d/ID/export?format=csv. Configurar ARFAGI_CATALOGO_CSV_URL en Variables de n8n."
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Parsear y Normalizar CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380],
      "parameters": {
        "jsCode": "// Parsear CSV del catálogo Arfagi\n// Columnas: SKU;Producto;Marca;Categoria;Genero;Precio (Gs.);Stock;Disponible;Destacado;Nuevo;Descripcion\n\nconst csvText = $input.first().json.data;\nconst lines = csvText.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(';').map(h => h.trim());\n\nconst productos = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const cols = lines[i].split(';');\n  if (cols.length < 8) continue;\n\n  const sku = cols[0]?.trim();\n  if (!sku) continue;\n\n  // Normalizar precio: 'Gs. 320.000' → 320000 (entero, sin decimales)\n  const precioRaw = cols[5]?.trim() || '0';\n  const precioGs = parseInt(precioRaw.replace(/[Gs\\.\\s]/g, '').replace(/\\./g, '')) || 0;\n\n  // Calcular rango de precio para RAG\n  let rangoPrecio = 'ACCESIBLE';\n  if (precioGs > 800000) rangoPrecio = 'LUJO';\n  else if (precioGs > 500000) rangoPrecio = 'PREMIUM';\n  else if (precioGs > 250000) rangoPrecio = 'MID';\n\n  const stockTotal = parseInt(cols[6]?.trim()) || 0;\n  const disponible = cols[7]?.trim()?.toLowerCase() === 'si';\n  const destacado = cols[8]?.trim()?.toLowerCase() === 'si';\n  const nuevo = cols[9]?.trim()?.toLowerCase() === 'si';\n\n  // Generar tags RAG automáticos para búsqueda semántica\n  const nombre = cols[1]?.trim() || '';\n  const marca = cols[2]?.trim() || '';\n  const categoria = cols[3]?.trim() || 'Perfume';\n  const genero = cols[4]?.trim() || 'Unisex';\n  const descripcion = cols[10]?.trim() || '';\n\n  const tagsRag = [\n    marca.toLowerCase(),\n    genero.toLowerCase(),\n    categoria.toLowerCase(),\n    rangoPrecio.toLowerCase()\n  ].filter(Boolean);\n\n  productos.push({\n    json: {\n      sku,\n      nombre,\n      descripcion,\n      marca: marca.toUpperCase(),\n      categoria,\n      genero,\n      precio_gs: precioGs,\n      rango_precio: rangoPrecio,\n      stock_total: stockTotal,\n      stock_disponible: stockTotal, // Al importar, stock_bloqueado = 0\n      stock_bloqueado: 0,\n      disponible,\n      destacado,\n      nuevo,\n      imagen_url: '',\n      embedding_ref: '',\n      tags_rag: tagsRag\n    }\n  });\n}\n\nconsole.log(`Parseados ${productos.length} productos del CSV`);\nreturn productos;"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Filtrar SKUs con Precio > 0",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [960, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-precio",
              "leftValue": "={{ $json.precio_gs }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Upsert en Firestore (FastAPI Sync)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ARFAGI_API_URL }}/api/v1/catalogo/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ARFAGI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000,
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 500
            }
          }
        }
      },
      "notes": "Envía cada producto al endpoint de sync de FastAPI. El endpoint hace un upsert en Firestore (crea o actualiza sin borrar stock_bloqueado)."
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Log Resultado Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 380],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst exitosos = items.filter(i => i.json.exito !== false).length;\nconst errores = items.filter(i => i.json.exito === false).length;\n\nconsole.log(`=== SYNC CATÁLOGO ARFAGI ===`);\nconsole.log(`✅ Sincronizados: ${exitosos}`);\nconsole.log(`❌ Errores: ${errores}`);\nconsole.log(`📦 Total procesados: ${items.length}`);\n\nreturn [{\n  json: {\n    sync_completado: true,\n    total_procesados: items.length,\n    exitosos,\n    errores,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [[{"node": "Leer CSV del Catálogo", "type": "main", "index": 0}]]
    },
    "Cron Semanal (Lunes 3am)": {
      "main": [[{"node": "Leer CSV del Catálogo", "type": "main", "index": 0}]]
    },
    "Leer CSV del Catálogo": {
      "main": [[{"node": "Parsear y Normalizar CSV", "type": "main", "index": 0}]]
    },
    "Parsear y Normalizar CSV": {
      "main": [[{"node": "Filtrar SKUs con Precio > 0", "type": "main", "index": 0}]]
    },
    "Filtrar SKUs con Precio > 0": {
      "main": [[{"node": "Upsert en Firestore (FastAPI Sync)", "type": "main", "index": 0}]]
    },
    "Upsert en Firestore (FastAPI Sync)": {
      "main": [[{"node": "Log Resultado Sync", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "arfagi_version": "1.0.0",
    "descripcion": "Sincroniza el catálogo de productos desde el CSV/Google Sheets hacia Firestore. Normaliza precios (Gs. 320.000 → 320000) y calcula rangos de precio para RAG."
  }
}
